In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import numpy as np
%matplotlib inline

In [28]:
!head data/Batting.csv

In [16]:
master = pd.read_csv('data/Master.csv')
appearances = pd.read_csv('data/Appearances.csv')
batting = pd.read_csv('data/Batting.csv')
pay = pd.read_csv('data/Salaries.csv')

In [26]:
meanpay = pay.groupby('yearID').agg({'salary':[np.mean, np.size]})

In [66]:
appearances = appearances.drop(['lgID','teamID', 'G_all','GS','G_defense','G_dh','G_ph','G_pr'], axis=1)

In [48]:
pay = pay.drop(['teamID', 'lgID'], axis=1)

In [52]:
bat = batting[['playerID','yearID','G','AB','H','BB','HBP','SF']]

In [71]:
print(len(appearances.playerID))
print(len(bat.playerID))
print(len(pay.playerID))

99466
99846
24758

In [86]:
this = pd.merge(pay, bat)

In [90]:
data = pd.merge(this, appearances)

In [108]:
data.groupby('G_p').

,yearID,playerID,salary,G,AB,H,BB,HBP,SF,G_batting,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of
0,1985,barkele01,870000,20,17,0,0,0,0,20,20,0,0,0,0,0,0,0,0,0
1,1985,bedrost01,550000,37,64,5,1,0,0,37,37,0,0,0,0,0,0,0,0,0
2,1985,benedbr01,545000,70,208,42,22,1,2,70,0,70,0,0,0,0,0,0,0,0
3,1985,campri01,633333,66,13,3,1,0,0,66,66,0,0,0,0,0,0,0,0,0
4,1985,ceronri01,625000,96,282,61,29,1,4,96,0,90,0,0,0,0,0,0,0,0
5,1985,chambch01,800000,101,170,40,18,0,1,101,0,0,39,0,0,0,0,0,0,0
6,1985,dedmoje01,150000,60,9,1,1,0,0,60,60,0,0,0,0,0,0,0,0,0
7,1985,forstte01,483333,46,4,0,0,0,0,46,46,0,0,0,0,0,0,0,0,0
8,1985,garbege01,772000,59,5,1,0,0,0,59,59,0,0,0,0,0,0,0,0,0
9,1985,harpete01,250000,138,492,130,44,3,2,138,0,0,0,0,0,0,129,0,2,131
10,1985,hornebo01,1500000,130,483,129,50,1,6,130,0,0,87,0,40,0,0,0,0,0
11,1985,hubbagl01,455000,142,439,102,56,4,6,142,0,0,0,140,0,0,0,0,0,0
12,1985,mahleri01,407500,39,90,14,3,0,1,39,39,0,0,0,0,0,0,0,0,0
13,1985,mcmurcr01,275000,17,14,1,0,0,0,17,17,0,0,0,0,0,0,0,0,0
14,1985,mumphje01,775000,130,444,123,37,0,6,130,0,0,0,0,0,0,0,58,68,126
15,1985,murphda05,1625000,162,616,185,90,1,5,162,0,0,0,0,0,0,0,161,0,161
16,1985,oberkke01,616667,134,412,112,51,6,2,134,0,0,0,16,117,0,0,0,0,0
17,1985,perezpa01,450000,22,25,3,3,0,0,22,22,0,0,0,0,0,0,0,0,0
18,1985,perryge01,120000,110,238,51,23,0,1,110,0,0,55,0,0,0,1,0,0,1
19,1985,ramirra01,750000,138,568,141,20,0,5,138,0,0,0,0,0,133,0,0,0,0
20,1985,suttebr01,1354167,58,4,0,0,0,0,58,58,0,0,0,0,0,0,0,0,0
21,1985,washicl01,800000,122,398,110,40,1,2,122,0,0,0,0,0,0,0,0,99,99
22,1985,boddimi01,625000,34,0,0,0,0,0,2,32,0,0,0,0,0,0,0,0,0
23,1985,dauerri01,480000,85,208,42,20,1,0,85,0,0,1,73,17,0,0,0,0,0
24,1985,davisst02,437500,31,NaN,NaN,NaN,NaN,NaN,0,31,0,0,0,0,0,0,0,0,0
25,1985,dempsri01,512500,132,362,92,50,1,2,132,0,131,0,0,0,0,0,0,0,0
26,1985,dwyerji01,375000,101,233,58,37,1,1,101,0,0,0,0,0,0,46,0,33,78
27,1985,flanami01,641667,15,NaN,NaN,NaN,NaN,NaN,0,15,0,0,0,0,0,0,0,0,0
28,1985,fordda01,450000,28,75,14,7,0,0,28,0,0,0,0,0,0,0,0,0,0
29,1985,grosswa01,483333,103,217,51,46,0,0,103,0,0,9,0,67,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31143,2014,blevije01,1675000,64,0,0,0,0,0,62,64,0,0,0,0,0,0,0,0,0
31144,2014,cedenxa01,507800,9,0,0,0,0,0,9,9,0,0,0,0,0,0,0,0,0
31145,2014,clippty01,5875000,75,0,0,0,0,0,72,75,0,0,0,0,0,0,0,0,0
31146,2014,desmoia01,6500000,154,593,151,46,6,3,154,0,0,0,0,0,154,0,0,0,0
31147,2014,detwiro01,3000000,47,2,0,1,0,0,44,47,0,0,0,0,0,0,0,0,0
31148,2014,espinda01,540580,114,333,73,18,12,1,114,0,0,0,89,0,12,0,0,0,0
31149,2014,fistedo01,7200000,26,52,4,1,0,0,24,25,0,0,0,0,0,0,0,0,0
31150,2014,frandke01,900000,105,220,57,6,7,1,105,0,0,9,13,16,0,21,0,0,21
31151,2014,gonzagi01,8500000,27,46,4,0,0,0,24,27,0,0,0,0,0,0,0,0,0
31152,2014,hairssc01,2500000,61,77,16,4,2,4,61,0,0,0,0,0,0,15,0,1,16
31153,2014,harpebr03,2150000,100,352,96,38,1,1,100,0,0,0,0,0,0,90,7,10,98
31154,2014,jordata01,504300,5,8,1,0,0,0,5,5,0,0,0,0,0,0,0,0,0
31155,2014,koberje01,501000,4,6,0,1,1,0,4,0,0,0,3,0,0,0,0,0,0
31156,2014,larocad01,12000000,140,494,128,82,2,8,140,0,0,136,0,0,0,0,0,0,0
31157,2014,leonsa01,501000,20,64,10,6,0,0,20,0,20,0,0,0,0,0,0,0,0
31158,2014,lobatjo01,900000,66,214,50,15,1,0,66,0,64,0,0,0,0,0,0,0,0
31159,2014,matthry01,520000,7,0,0,0,0,0,6,7,0,0,0,0,0,0,0,0,0
31160,2014,mclouna01,5000000,79,139,24,16,5,1,79,0,0,0,0,0,0,28,9,16,50
31161,2014,moorety01,507900,42,91,21,7,2,0,42,0,0,24,0,0,0,4,0,0,4
31162,2014,ramoswi01,2095000,88,341,91,17,0,3,88,0,87,0,0,0,0,0,0,0,0
31163,2014,rendoan01,1800000,153,613,176,58,5,5,153,0,0,0,28,134,0,0,0,0,0
31164,2014,roarkta01,506100,31,58,7,1,0,0,29,31,0,0,0,0,0,0,0,0,0
31165,2014,soriara01,11000000,64,0,0,0,0,0,60,64,0,0,0,0,0,0,0,0,0
31166,2014,spande01,6500000,147,610,184,50,2,3,147,0,0,0,0,0,0,0,147,0,147
31167,2014,stammcr01,1375000,49,7,2,0,0,0,46,49,0,0,0,0,0,0,0,0,0
31168,2014,storedr01,3450000,65,0,0,0,0,0,62,65,0,0,0,0,0,0,0,0,0
31169,2014,strasst01,3975000,34,60,6,7,0,0,33,34,0,0,0,0,0,0,0,0,0
31170,2014,werthja01,20000000,147,534,156,83,9,3,147,0,0,0,0,0,0,0,0,139,139
31171,2014,zimmejo02,7500000,32,55,10,2,0,1,30,32,0,0,0,0,0,0,0,0,0
31172,2014,zimmery01,14000000,61,214,60,22,0,4,61,0,0,5,0,23,0,30,0,0,30

False

26470

       yearID   playerID    salary    G   AB    H  BB  HBP  SF
0        1985  barkele01    870000   20   17    0   0    0   0
1        1985  bedrost01    550000   37   64    5   1    0   0
2        1985  benedbr01    545000   70  208   42  22    1   2
3        1985   campri01    633333   66   13    3   1    0   0
4        1985  ceronri01    625000   96  282   61  29    1   4
5        1985  chambch01    800000  101  170   40  18    0   1
6        1985  dedmoje01    150000   60    9    1   1    0   0
7        1985  forstte01    483333   46    4    0   0    0   0
8        1985  garbege01    772000   59    5    1   0    0   0
9        1985  harpete01    250000  138  492  130  44    3   2
10       1985  hornebo01   1500000  130  483  129  50    1   6
11       1985  hubbagl01    455000  142  439  102  56    4   6
12       1985  mahleri01    407500   39   90   14   3    0   1
13       1985  mcmurcr01    275000   17   14    1   0    0   0
14       1985  mumphje01    775000  130  444  123  37    0   6
15       1985  murphda05   1625000  162  616  185  90    1   5
16       1985  oberkke01    616667  134  412  112  51    6   2
17       1985  perezpa01    450000   22   25    3   3    0   0
18       1985  perryge01    120000  110  238   51  23    0   1
19       1985  ramirra01    750000  138  568  141  20    0   5
20       1985  suttebr01   1354167   58    4    0   0    0   0
21       1985  washicl01    800000  122  398  110  40    1   2
22       1985  boddimi01    625000   34    0    0   0    0   0
23       1985  dauerri01    480000   85  208   42  20    1   0
24       1985  davisst02    437500   31  NaN  NaN NaN  NaN NaN
25       1985  dempsri01    512500  132  362   92  50    1   2
26       1985  dwyerji01    375000  101  233   58  37    1   1
27       1985  flanami01    641667   15  NaN  NaN NaN  NaN NaN
28       1985   fordda01    450000   28   75   14   7    0   0
29       1985  grosswa01    483333  103  217   51  46    0   0
...       ...        ...       ...  ...  ...  ...  ..  ...  ..
26440    2014  blevije01   1675000   64    0    0   0    0   0
26441    2014  cedenxa01    507800    9    0    0   0    0   0
26442    2014  clippty01   5875000   75    0    0   0    0   0
26443    2014  desmoia01   6500000  154  593  151  46    6   3
26444    2014  detwiro01   3000000   47    2    0   1    0   0
26445    2014  espinda01    540580  114  333   73  18   12   1
26446    2014  fistedo01   7200000   26   52    4   1    0   0
26447    2014  frandke01    900000  105  220   57   6    7   1
26448    2014  gonzagi01   8500000   27   46    4   0    0   0
26449    2014  hairssc01   2500000   61   77   16   4    2   4
26450    2014  harpebr03   2150000  100  352   96  38    1   1
26451    2014  jordata01    504300    5    8    1   0    0   0
26452    2014  koberje01    501000    4    6    0   1    1   0
26453    2014  larocad01  12000000  140  494  128  82    2   8
26454    2014   leonsa01    501000   20   64   10   6    0   0
26455    2014  lobatjo01    900000   66  214   50  15    1   0
26456    2014  matthry01    520000    7    0    0   0    0   0
26457    2014  mclouna01   5000000   79  139   24  16    5   1
26458    2014  moorety01    507900   42   91   21   7    2   0
26459    2014  ramoswi01   2095000   88  341   91  17    0   3
26460    2014  rendoan01   1800000  153  613  176  58    5   5
26461    2014  roarkta01    506100   31   58    7   1    0   0
26462    2014  soriara01  11000000   64    0    0   0    0   0
26463    2014   spande01   6500000  147  610  184  50    2   3
26464    2014  stammcr01   1375000   49    7    2   0    0   0
26465    2014  storedr01   3450000   65    0    0   0    0   0
26466    2014  strasst01   3975000   34   60    6   7    0   0
26467    2014  werthja01  20000000  147  534  156  83    9   3
26468    2014  zimmejo02   7500000   32   55   10   2    0   1
26469    2014  zimmery01  14000000   61  214   60  22    0   4

[26470 rows x 9 columns]